@charset "UTF-8";

/*Controlar a propriedade padding com as especificações permiti voc~e manipular tudo do site*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --corh1: black;

    --font01: 'Passion One';
    --font02: 'Sriracha';

}

* {
    margin: 0px;
    padding: 0px;
}

html body {
   min-width: 100vh;
   background-color: darkgray;
}

header {
   text-align: center;
   font-family: var(--font01);
   color: white;
   background-color: black;
   height: 150px;
  
}

header > h1 {
    padding-top: 50px
    ;
}

header > p {
    padding-bottom: 50px;
}

section {
   font-family: var(--font02);
   font-size: 17px;
   padding-top: 10vh;
   padding-bottom: 10vh;
   line-height: 2em ;
   padding-left: 30px;
}

.normal {
   background-color: white;
   color: black;

}

.imagen {
   background-color: darkgrey;
   color: white;
}

.imagen > p {
   width: 400px;
   background-color: rgba(0, 0, 0, 0.151);
}
 
 footer {
    color: white;
    background-color: black;
    text-align: center;
   
 }